# mysql configuration
MYSQL_PORT=3306 #set your port
MYSQL_ROOT_PASSWORD=root #set your root password
# phpmyadmin configuration
PMA_PORT=8080  #set your port
PMA_ARBITRARY=1  #set 0 for disable host authentication by ip or dns name (not recommended) 
PMA_FORCE_SSL=1  #set 0 for disable SSL connection (not recommended)
PMA_ABSOLUTE_URI= #set your domain name or let empty for auto detect
# npm configuration
NPM_PORT=80 #set your default port
NPM_PORT_ADMIN=81  #set your admin port
NPM_PORT_SSL=443  #set your default ssl port
NPM_DB_NAME=db_npm   #set your database name
NPM_DB_USER=user_npm   #set your database user
NPM_DB_PASSWORD=pass_npm  #set your database password
# set networks
NETWORK_NAME=environment-server #set your network name